@import 'fonts';
@import 'vars';
@import 'global';

//start of header
.header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 965px;
    &__menu-list{
        display: flex;
        padding-top: 55px;
        justify-content: flex-end;
    }
    &__menu-item{
        list-style: none;
        & + &{
            margin-left: 15px;
        }
    }
    &__menu-link{
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        padding: 15px 22px;
        border: 2px solid transparent;
        transition: all .5s;
        &:hover{
            border: 2px solid #fff;
        }
    }
    &__title{
        display: flex;
        justify-content: center;
        margin-top: 300px;
        font-size: 40px;
    }
    &__title-text{
        max-width: 650px;
        text-align: center;
        color: #fff;
        font-size: 40px;
        line-height: 55px;
        position: relative;
        &::after{
            content: url(../images/decoration.png);
            position: absolute;
            left: 200px;
            top: 185px;
        }
    }
  
}
//end of header

//start of basis section
.basis{
    background-color: #eeefef;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 405px;
        padding-top: 40px;
    }
    &__box{
        text-align: center;
        min-height: 260px;
    }
    &__icon{
        width: 70px;
        height: 70px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0px auto 40px;
    }
    &__title{
        font-size: 27px;
        color: #3c3c3c;
        margin-bottom: 20px;
    }
    &__text{
        max-width: 380px;
        width: 100%;
        line-height: 22px;
        font-size: 16px;
        font-weight: 300;
        color: #3c3c3c;
    }
}
//end of basis section
//start of about section
.about{
    background-color: #eeefef;
    color: #3c3c3c;
    padding-bottom: 350px;
    position: relative;
    &__box{
        max-width: 640px;
        width: 100%;
        text-align: center;
    }
    &__title{
        font-size: 40px;
        position: relative;
        padding-top: 245px;
        margin-bottom: 90px;
        &::after{
            content: url(../images/decoration-black.png);
            position: absolute;
            left: 190px;
            bottom: -60px;
        }
    }
    &__text{
        line-height: 44px;
        font-size: 30px;
    }
    img{
        // width: 500px;height: 500px;
        position: absolute;
    }   
}

//end of about section
//start of specials
.specials{
    background-color: #fff;
    padding: 80px 0px 105px;
    &__title{
        text-align: center;
        color: #3c3c3c;
        font-size: 40px;
        position: relative;
        margin-bottom: 110px;
        &::after{
            content: url(../images/decoration-black.png);
            position: absolute;
            bottom: -60px;
            left: 615px;
        }
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
    }
    &__img{
        height: 250px;
        width: 247px;
    }
    &__box{
        background-color: #f8f8f8;
        width: 246px;
        padding: 68px 0px 50px;
        text-align: center;
    }
    &__box-title{
        font-weight: 700;
        margin-bottom: 30px;
        position: relative;
        color: #3c3c3c;
        text-align: center;
        font-size: 18px;
        &::after{
            content: '';
            width: 88px;
            height: 1px;
            background-color: #383838;
            position: absolute;
            left: 81px;
            top: 36px;
        }
    }
    &__box-text{
        margin-bottom: 15px;
        line-height: 24px;
        padding: 0px 35px 0px 32px;
    }
}
//end of specials